.App {
    text-align: center;
    height: 100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    color: white;
    height: 100px;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

iframe {
    border: 0px;
}

.turningIcon {
    height: 60px;
    margin: 10px;
    animation: App-logo-spin infinite 5s linear;
}

.notClickable {
    position: absolute;
    height: 219px;
    width: 100vw;
    margin-top: -220px;
}

#body {
    margin-top: 0px;
    height: calc(100vh - 100px);
}

h1 {
    margin-top: 0px;
}

#musicButtons {
    position: absolute;
    left: 20px;
    top: 150px;
    height: 200px;
    width: 50px;
}